<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">{{title}}</h1>
      <div class="input-group-prepend">
        <input type="text" #todo class="form-control" name="todo" placeholder="Add Todo" ngModel>
        <span class="input-group-text" (click)="addTodo(todo.value)">
          <i class="material-icons">add</i>
        </span>
      </div>
    </div>

    <div class="data">
      <ul class="list-instyled">
        <li *ngFor="let task of todoArray">
          {{task}}
          <i (click)="deleteItem(task)" class="material-icons">delete</i>
        </li>
      </ul>
    </div>
  </form>
</div>